<!DOCTYPE html>
<html>
<head>
	<title> Detalle </title>
</head>
<body>
{% block title %}Detail{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre del software </th>
<th> Funcion </th>
<th> Departamento </th>
<th> Creador </th>
<th> Fecha de creacion </th>
<th> Slug </th>

<tr>
<td>{{ object.nombre }}</td>>
<td>{{ object.funcion }}</td>>
<td>{{ object.departamento }}</td>>
<td>{{ object.creador }}</td>>
<td>{{ object.fecha_de_creacion }}</td>>
<td>{{ object.slug }}</td>>


</table>

<input type="button" value="regresar" onclick="history.back()" />

{% endblock %}


</body>
</html>
