<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>
<body>
{% block title %}Lista de software - Funcion Punto de Venta{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre del software </th>
<th> Funcion </th>
<th> Departamento </th>
<th> Creador </th>
<th> Fecha de creacion </th>
<th> Slug </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	


{% for software in list_software %} 
<tr>
<td>{{ software.nombre }}</td>>
<td>{{ software.funcion }}</td>>
<td>{{ software.departamento }}</td>>
<td>{{ software.creador }}</td>>
<td>{{ software.fecha_de_creacion }}</td>>
<td>{{ software.slug }}</td>>
<td><a href="{% url 'detail' software.id %}">detail</a></td>
<td><a href="{% url 'update' software.id %}">update</a></td>
<td><a href="{% url 'delete' software.id %}">delete</a></td>

</tr>


{% endfor %}

</table>

{% endblock %}


</body>
</html>
